@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgba(128, 128, 128, 0.342);
}
.main-title{
    font-weight: 600;
    margin: 24px 0px;
  }
.menu{
    width: 95%;
}
  .menu-title{
    font-weight: 500;
  }
  .menu-item{
    margin-bottom: 36px;
    background: rgba(126, 94, 94, 0.294);  
    padding: 10px;
  }
  .menu-item p{
    padding:5px 15px;
    text-align: justify;
  }
  @media (max-width:767px){
    .navbar-brand:focus, .navbar-brand{
      margin-left: 15px;
    }
  }
  .flex-all-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
